.navbar {
  background: linear-gradient(0deg, transparent 0%, rgba(25, 24, 90, 0.8) 100%);
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 62px;
  top: 0;

  .navbar-brand {
    color: white;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
}