.card {
  border: 0;
  border-radius: 0;
  background-color: #2d2d2d;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 15rem;
  height: 22rem;
  transition: opacity .38s ease-in-out, transform .15s ease-in-out;

  &:hover {
    transform: scale3d(1.02, 1.02, 1.02);
  }

  .card-body {
    padding: 0;
    opacity: 1;
    
    &:hover {
      opacity: 1;
    }

    @media screen and (max-width: 768px) {
      opacity: 1;
    }

    .card-title {
      color: white;
      position: absolute;
      display: block;
      padding: 10px;
      min-height: 68px;
      margin: 0;
      bottom: 0;
      width: 100%;
      background-color: rgba(0,0,0,0.65);

      @media screen and (max-width: 768px) {
        bottom: 0;
      }
    }
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .38s ease-in-out, transform .35s ease-in-out;
    content: '';
    opacity: 0;
    pointer-events: none;
  }

  &::before {
    transform: scale3d(0, 1, 1);
    transform-origin: left top;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    z-index: 10;
  }

  &::after {
    transform: scale3d(1, 0, 1);
    transform-origin: right top;
    border-right: 2px solid white;
    border-left: 2px solid white;
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }
}
