<div class="container-fluid">
  <div class="row">
    <div class="col mb-3">
      <game-item></game-item>
    </div>
    <div class="col mb-3">
      <game-item></game-item>
    </div>
    <div class="col mb-3">
      <game-item></game-item>
    </div>
    <div class="col mb-3">
      <game-item></game-item>
    </div>
    <div class="col mb-3">
      <game-item></game-item>
    </div>
    <div class="col mb-3">
      <game-item></game-item>
    </div>
    <div class="col mb-3">
      <game-item></game-item>
    </div>
    <div class="col mb-3">
      <game-item></game-item>
    </div>
    <div class="col mb-3">
      <game-item></game-item>
    </div>
    <div class="col mb-3">
      <game-item></game-item>
    </div>
    <div class="col mb-3">
      <game-item></game-item>
    </div>
    <div class="col mb-3">
      <game-item></game-item>
    </div>
  </div>
</div>